html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans",sans-serif;
}
h2 {
    font-weight: 700;
    margin-bottom: 0;
}
#first {
    padding: 2.5rem;
}
#first p {
    font-size: 1.1rem;
    color: rgb(51, 51, 51);
    margin-bottom: 0;
}
#first img {
    width: 220px;
    padding: 0 1.6rem;
}
#second {
    background-color: #F4F4F4;
}
#second img {
    width: 100px;
}
#second .card {
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 7px;
    overflow: hidden;
}
#second .header {
    width: 40%;
    color: white;
    background-color: rgb(0, 0, 26);
}

input, label, textarea {
    display:block;
    width: 100%;
}
input, textarea {
    padding: .5rem;
}
#second .form {
    width: 100%;
}
#second form {
    padding: 3rem 6rem 3rem 6rem;
}
#second fieldset {
    margin-top: 1.5rem;
}
#second .radio label {
    margin-bottom: 0;
}
input.btn {
    width: 100px;
    display: block;
    margin-left: auto;
    text-transform: uppercase;
}
h5 {
    font-weight: 700;
}
fieldset input, fieldset label {
    width: auto;
    margin-right: .9rem;
}
fieldset label {
    margin-right: 2.5rem;
}
fieldset p {
    margin-bottom: .5rem;
}
#second .schedule {
    margin-top: 3rem;
}
#second .schedule p {
    margin-bottom: 0;
}
#second .schedule .bold {
    font-size: 1.05rem;
    font-weight: 800;
}
@media (max-width: 1199px) {
    #second .card {
        width: 90%;
    }
}
@media (max-width: 991px) {
    #second h2 {
        font-size: 1.7rem;
    }
    #second img {
        width: 80px;
    }
    #second .header {
        width: 45%;
    }
    #second form {
        padding: 3rem;
    }
}
@media (max-width: 819px) {
    #second .card {
        flex-direction: column;
    }
    #second img {
        display: none;
    }
    #second .header {
        width: 100%;
        text-align: center;
    }
    #second .apply p {
        margin-bottom: 0;
    }
    #second .schedule {
        display: none;
    }
}
@media (max-width: 685px) {
    #first img {
        width: 150px;
        padding: 0 .5rem;
    }
    #first h2 {
        font-size: 1.7rem;
    }
    #first p {
        font-size: 1rem;
    }
}
@media (max-width: 575px) {
    
    #first h2 {
        font-size: 1.5rem;
    }
    #second h2 {
        font-size: 1.5rem;
    }
    #second .apply {
        margin: .9rem 0;
    }
    #second .card {
        width: 95%;
    }
    #second form {
        padding: 2rem;
    }
}
@media (max-width: 480px) {
    #first {
        flex-direction: column;
        text-align: center;
        padding: 1rem 0 1.4rem 0;
    }
    #first img {
        width: 120px;
    }
    #second form {
        padding: 1rem;
    }
    #second .apply {
        margin: 0;
    }
}